# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / Packaging
.pptx
build/
dist/
*.egg-info/
.eggs/

# IDEs
.idea/
.vscode/

# Project Specific
.passion/config.json
.config/config.json
*.log
.passion/*.log
